* {
	margin: 0px;
	padding: 0px;
}

@charset "utf-8";

body {
	margin: 0;
	background: #f8ffff;
	height: 100%;	
}

.nav_bar {	
	font-family: "EB Garamond";
	z-index: 500;
	position: fixed;
	width: 100%;
	height: 5%;
	background-color: white;
	padding-top: 24px;
	opacity: .93;
	box-shadow: 4px 4px 15px #bbbbbb;
	font-size: 16pt;
}
 

.nav_categories ul li a {
	margin-left: 120px;	
	text-decoration: none;
	padding: 0px 45px;
	color: black;	
}

.nav_categories ul li a:hover {
	color: white;
}

#categories {  
	display:	 table; 
	margin-left: 280px;
} 

#categories li { 
	display: table-cell; 
	padding: 0px 10px; 
	opacity: 1;
}

.bio_image img {
	box-shadow: 4px 4px 15px #bbbbbb;
	float: 		left;
	margin-top: 250px;
	width: 		450px;
	height: 	450px;
}
#greg {
	float: 		  right;
	margin-right: 15%;
}
#cyrus{
	float: 		 left;
	margin-left: 15%;
}
.bio_info  {
	float: 		left;
	margin-top: 45px;
	height: 	700px;
	display: 	none;
	background: white;
}
.bio_info img {	
	width: 		500px;
	height: 	500px;
	margin: 	50px 0px 0px 200px;
	box-shadow: 4px 4px 15px #bbbbbb;
}
.bio_info  .info_name {
	font-family: "Jura:400,500";
	float: 		 left;
	margin: 	 20px 0px 0px 360px;
	font-size:   30px;
}
.bio_info .info_box {
	font-family: "EB Garamond";
	float:  	 right;
	height: 	 300px;
	width:  	 850px;
	margin: 	 175px 150px 100px 0px;
	background:  #eeeeee;
	text-align:  center;
	box-shadow:  4px 4px 15px #bbbbbb;
}
